extends ../layouts/base
include ../mixins/tasks

block content

  form#new-task(action="tasks", method="post")
    input.form-control(type="text", placeholder="Add new task", name="content")
    div.row
      div.col-xs-6.without-right-padding
        div.input-group.date
          input.form-control(type="text", placeholder="MM/DD/YYYY", name="due")
          span.input-group-addon
            i.fa.fa-calendar
      div.col-xs-6.without-left-padding
        div.btn-group.btn-group-justified
          div.btn-group
            button.btn.btn-default(type="submit") Add


  div.list-group
    -for (var i in tasks)
      +task-bar(tasks[i])

  script(type='text/javascript').
    $('.input-group.date').datepicker({
      orientation: "top auto",
      todayHighlight: true,
      autoclose: true,
      startDate: "+1d",
    });
    $('#new-task').ajaxForm(function(data) {
      alert(JSON.stringify(data));
    });
